<!-- only bother if you need to change the top bar logo -->
<style>
  .site-header a.navbar-brand, .site-nav .site-nav-links .nav-item > a {
    color:{{page.nav_txt_color}};
  }
  header.site-header {
    background-color: {{ page.nav_bkg_color }};
  }
</style>
<header class="container-fluid site-header" style="background-color:{{page.nav_color}};">
  <nav class="navbar navbar-full navbar-light site-nav">
    <a class="navbar-brand site-nav-brand" href="{{ site.baseurl }}/">
      <img src="/images/Profile.png" alt="{{ site.title }}">
      <div class="site-nav-brand-title">{{ site.title }}</div>
    </a>

    <ul class="nav navbar-nav pull-md-right site-nav-links">
      <!--  Sample Page 1 Link -->
      <li class="nav-item">
        <a href="/mainpages/about" class="nav-link">about me</a>
      </li>
      <!--  Sample Page 2 Link -->
      <li class="nav-item">
        <a href="/mainpages/projects" class="nav-link">projects</a>
      </li>
      <!--  Sample Page 3 Link -->
      <li class="nav-item">
        <a href="/mainpages/msGNU" class="nav-link">msGNU</a>
      </li>
      <!--  Sample Page 4 Link -->
      <li class="nav-item">
        <a href="/mainpages/SIC_album" class="nav-link">SiC - album</a>
      </li>
      <!--  Sample Page 5 Link -->
      <li class="nav-item">
        <a href="/mainpages/SIC_essays" class="nav-link">SiC - thesis</a>
      </li>
    </ul>
  </nav>
</header>
